:root
  font-size: 16px
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap')
body
  background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.616)), url('../img/carretera.webp')
  font-family: 'open sans', cursive
  background-size: cover
  font-weight: 400
  background-attachment: fixed

html
  font-size: 62.5%

.titulo
  font-family: 'open sans', cursive
  font-weight: 800
  font-size: 4rem
  padding: 3rem 0 1rem 0
  margin: 0
  color: #fff
  background: none
  border-bottom: 2px solid #fff
  width: 50vw
  margin: 40px auto

.contenedor
  background: #0b0b0b6f
  max-width: 1200px
  margin: 0 auto
  margin-bottom: 40px
  p
    font-size: 1.8rem
    color: #fff

h1,
p
  text-align: center

form
  max-width: 1100px
  margin: 0 auto
  padding: 3rem
  background: white
  margin-bottom: rem
  font-family: Arial, Helvetica, sans-serif

#app p
  text-align: left !important
  font-size: 2rem
  font-family: Arial, Helvetica, sans-serif

#resultado
  p
    margin: 0
    padding: 2rem
    border-bottom: 1px solid #e1e1e1
    span
      font-weight: bold

  p:last-of-type
    border: none

.alerta
  padding: 1rem
  text-align: center
  font-weight: bold
  text-transform: uppercase
  color: white
  font-size: 2rem

.error
  background-color: red

#buscador
  background: none
  color: #fff

.buscadorr
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  align-content: space-between
  flex-wrap: wrap

.select-wrapper+label
  font-size: .9rem

.input-field.col label
  left: 0

.dropdown-content li>span
  color: #000

.select-wrapper input.select-dropdown:focus
  border-bottom: 1px solid #9e9e9e
.select-wrapper input.select-dropdown:hover
  border-bottom: 1px solid rgb(14 160 53)

.resultados
  font-weight: 800
  color: rgb(255 255 0)

@media (max-width:680px)
  :root
    font-size: 12px

@media (max-width:500px)
  :root
    font-size: 8px
  .titulo
    width: 90vw
